<header>
    <h1><center>E-BOOK STORE</center></h1>
    <h2>A BETTER PLACE TO SHOP, SELL AND LEARN ANYTIME ANYWHERE
    <button class="hey"><a href="/admins">SignOut</a></button>
    <button class="hey">Hi, KRITIKA </button>
    </h2>
    <style>
    footer{
    background-color: aquamarine;
    color: black;
    text-align: center;
    border:black 2px solid;
    }
    </style>
</header>