<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT US</title>
        <link rel="stylesheet" type="text/css" href="../aboutus.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
      <body>
          <header>
            <h1><center><bold>E-BOOK STORE</bold></center></h1>
            <h2><center>A BETTER PLACE TO SHOP, SELL AND LEARN ANYTIME ANYWHERE
                <i class="fa fa-book"></i>
                <i class="fa fa-book" style="font-size:48px"></i>
                <i class="fa fa-book" style="font-size:60px;color:red;"></i>
                </div></center></h2>
            <button class="Home"><a href="/users/signout">Signout</a></button>
          </header>
          <div class="aboutus">
            <h2><center>ABOUT US</center></h2>
            <ul><li><h3>What it is about or What do we offer?</h3></li></ul>
              <p>"E-BOOK STORE is an educational website that allows the customer to purchase books
              online where they can search a book by its title or author,later can add it to a 
              shopping cart and finally purchase.It is also a perfect place to sell a book online.
              Here, we offer engineering related books and contents of different faculties like 
              computer,civil,mechanical,electrical,etc."</p>
              <br>
            <ul><li><h3>TEAM</h3></li></ul>
            <p>KRITIKA PANTHA(018-314)</p>
            <p>AACHAL SALONI(018-301)</p>
            <p>RUHEE KUMARI SHAH(018-327)</p>
              <br>
            <ul><li><h3>OUR MISSION</h3></li></ul>
            <p>"Our major mission is to make a better place to shop,sell and learn anytime anywhere."</p>
              <br>
            <ul><li><h3>OUR VISION</h3></li></ul>
            <p>"Enabling people in the field of education to connect.Initiating a suitable place to shop 
              and sell a book.Enabling access to quality educational resources for the masses."</p>
          </div>
        <footer class="footer">
            <p>Special Thanks To Our Project Supervisor Asst.Prof.Ashish Kumar Jha</p>
            <p>&copy;2020 All right reserved to CSE Department, Nepal Engineering College, Pokhara</p>  
            </footer>
      </body>
           