<!doctype html>
<html>

<head>
    <title>E-BOOK STORE</title>
    <link rel="stylesheet" type="text/css" href="../browser.css">
</head>
<body>
    <header1>
        <button class="hey1"><a href="/users/mycart">MY CART</a></button>
    </header1>
    <%- include('../partials/userheader.ejs') %>
       
              <span class="E"><center><h3>HOME PAGE</h3></center> </span>
              <div id="wrapper">
                <div class="five">
              <img src="../images/architecturecategory.jpg" width="200" height="290">
              <br>
              <button><a href="/users/browser/viewallarchitecture">ARCHTECTURE</a></button>
              <br>
               </div>
               <div class="four">
              <img src="../images/electronicscategory.jpg" width="200" height="290">
              <br>
              <button><a href="/users/browser/viewallelectronics">ELECTRONICS</a></button>
              <br>
               </div>
              <div class="three">
              <img src="../images/mechanicalcategory.jpg" width="250" height="290">
              <br>
              <button><a href="/users/browser/viewallmechanical">MECHANICAL</a></button>
              <br>
              </div>
              <div class="two">
              <img src="../images/civilcategory.jpg" width="250" height="290">
              <br>
              <button><a href="/users/browser/viewallcivil">CIVIL</a></button>
              <br>
              </div>
              <div class="one">
              <img src="../images/computercategory.jpg" width="250" height="290">
              <br>
              <button><a href="/users/browser/viewallcomputer">COMPUTER</a></button>
              </div>
            </div>
                <%- include('../partials/userfooter.ejs') %>
                <!-- <footer class="footer">
                    <p>Special Thanks To Our Project Supervisor Asst.Prof.Ashish Kumar Jha</p>
                    <p>&copy;2020 All right reserved to CSE Department, Nepal Engineering College, Pokhara</p>  
                    </footer> -->
</body>
</html>