<!DOCTYPE html>
<html>

<head>
    <title>E-BOOK STORE</title>
    <link rel="stylesheet" type="text/css" href="../signin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <h1>
            <center>
                <bold>E-BOOK STORE</bold>
            </center>
        </h1>
        <h2>
            <center>A BETTER PLACE TO SHOP, SELL AND LEARN ANYTIME ANYWHERE
                <div>
                    <i class="fa fa-book"></i>
                    <i class="fa fa-book" style="font-size:48px"></i>
                    <i class="fa fa-book" style="font-size:60px;color:red;"></i>
                </div>
            </center>
        </h2>
        
    </header>
    <center>
        <form action="/users/signin" method="POST" class="otherform">
            <h3>
                <bold>USER SIGNIN PAGE</bold>
            </h3>
            <div class="row1">
                <label for="emailId">User EmailId:</label>
                <input type="text" id="emailId" name="emailId">
            </div>
            <br>
            <div class="row1">
                <label for="password">User Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <br>
            <button>Close</button>&nbsp&nbsp<button>SignIn</button>
            
        </form>
    </center>
    <footer class="footer">
        <p>Special Thanks To Our Project Supervisor Asst.Prof.Ashish Kumar Jha</p>
        <p>&copy;2020 All right reserved to CSE Department, Nepal Engineering College, Pokhara</p>
    </footer>
</body>

</html>